{% extends "layout.html" %}

{% block content %}

    <section class="titulo1">
    <div>
        <h2> Academic Studie</h2>
    </div>
    </section>
    <section class="titulo1">
        <div>
            <h2> PhD in Science </h2>
        </div>
    <div class="article">
        <center><h3>Flexible Electronic</h3><img id="format_img" src="{{ user_image1 }}" height="200px" width="200px"></center>
        <h3 class="titleart">Project Title:</h3>
        <h3 class="titleart">LOW TEMPERATURE MANUFACTURING OF THIN-FILM TRANSISTORS</h3>
        <h3 class="journal">Benemerita Universidad Autonoma de Puebla</h3>
        <h3 class="journal">Resumen</h3>
        
        <p class="parrafo">
            La electrónica ha tenido un gran avance en las últimas décadas (computadoras, celulares, pantallas, etc.), donde la electrónica flexible ha tenido un 
            mayor interés en los últimos años, debido a su gran campo de aplicaciones y su posible uso en sensores, wearables, implantes, dispositivos portables, 
            etc. Para poder desarrollar estas aplicaciones se tiene que superar ciertas limitantes que implica el cambiar el sustrato.
            El vidrio, láminas de metal o plástico, pueden servir como sustratos, donde el plástico presenta mayor interés en el desarrollo de dispositivos debido a su a 
            transparencia y flexibilidad, pero a su vez limita los procesos de fabricación ya que no soportan altas temperaturas, haciendo que los materiales más comunes en
            dispositivos no pueda utilizarse, por lo tanto se busca la integración de nuevos materiales junto con diferentes procesos de fabricación el cual permitan el uso 
            de estos sustratos.
            Existen diversos materiales como los óxidos semiconductores, los cuales permiten su uso en dispositivos semiconductores presentando buenas características 
            eléctricas y de transparencia, además, la mayoría de los óxidos semiconductores se pueden depositar por solución, lo que permite el uso de técnicas como 
            ultrasonic spray pyrolysis, y spin coating, las cuales son de fácil manejo, bajo costo y la utilización de diferentes temperaturas llegando hasta los 200 °C.
            Investigaciones que se han desarrollado demuestran que el uso de óxido de zinc (ZnO) como película semiconductora y de SiO2 por SOG (spin on glass), ambas películas 
            depositadas a bajas temperaturas, presentan buenas características eléctricas como estructurales.
            Esto nos lleva a plantear que se pueden fabricar dispositivos y utilizar sustratos como plástico, 
            con el uso técnicas de depósito por solución a bajas temperaturas (200 °C). Además, del uso ZnO 
            como capa semiconductora, películas de SOG-SiO2 como dieléctrico y ITO como electrodo en los TFTs. 
            En este trabajo se describe el proceso de fabricación de los TFTs de ZnO. Así como la caracterización 
            del dispositivo para determinar los parámetros de interés y las principales figuras de mérito.    
        </p>
    
    </section>
    <section class="titulo1">
        <div>
            <h2> Master in Science </h2>
        </div>
    <div class="article">
        <center><h3>Flexible Electronic</h3><img id="format_img" src="{{ user_image1 }}" height="200px" width="200px"></center>
        <h3 class="titleart">Project Title:</h3>
        <h3 class="titleart">LOW TEMPERATURE MANUFACTURING OF THIN-FILM TRANSISTORS</h3>
        <h3 class="journal">Benemerita Universidad Autonoma de Puebla</h3>
        <h3 class="journal">Resumen</h3>
        
        <p class="parrafo">
            La electrónica ha tenido un gran avance en las últimas décadas (computadoras, celulares, pantallas, etc.), donde la electrónica flexible ha tenido un 
            mayor interés en los últimos años, debido a su gran campo de aplicaciones y su posible uso en sensores, wearables, implantes, dispositivos portables, 
            etc. Para poder desarrollar estas aplicaciones se tiene que superar ciertas limitantes que implica el cambiar el sustrato.
            El vidrio, láminas de metal o plástico, pueden servir como sustratos, donde el plástico presenta mayor interés en el desarrollo de dispositivos debido a su a 
            transparencia y flexibilidad, pero a su vez limita los procesos de fabricación ya que no soportan altas temperaturas, haciendo que los materiales más comunes en
            dispositivos no pueda utilizarse, por lo tanto se busca la integración de nuevos materiales junto con diferentes procesos de fabricación el cual permitan el uso 
            de estos sustratos.
            Existen diversos materiales como los óxidos semiconductores, los cuales permiten su uso en dispositivos semiconductores presentando buenas características 
            eléctricas y de transparencia, además, la mayoría de los óxidos semiconductores se pueden depositar por solución, lo que permite el uso de técnicas como 
            ultrasonic spray pyrolysis, y spin coating, las cuales son de fácil manejo, bajo costo y la utilización de diferentes temperaturas llegando hasta los 200 °C.
            Investigaciones que se han desarrollado demuestran que el uso de óxido de zinc (ZnO) como película semiconductora y de SiO2 por SOG (spin on glass), ambas películas 
            depositadas a bajas temperaturas, presentan buenas características eléctricas como estructurales.
            Esto nos lleva a plantear que se pueden fabricar dispositivos y utilizar sustratos como plástico, 
            con el uso técnicas de depósito por solución a bajas temperaturas (200 °C). Además, del uso ZnO 
            como capa semiconductora, películas de SOG-SiO2 como dieléctrico y ITO como electrodo en los TFTs. 
            En este trabajo se describe el proceso de fabricación de los TFTs de ZnO. Así como la caracterización 
            del dispositivo para determinar los parámetros de interés y las principales figuras de mérito.    
        </p>
    
    </section>
    <section class="titulo1">
        <div>
            <h2> Mechatronics Engineer </h2>
        </div>
    <div class="article">
        <center><h3>Flexible Electronic</h3><img id="format_img" src="{{ user_image2 }}" height="200px" width="200px"></center>
        <h3 class="titleart">Project Title:</h3>
        <h3 class="titleart">LOW TEMPERATURE MANUFACTURING OF THIN-FILM TRANSISTORS</h3>
        <h3 class="journal">Benemerita Universidad Autonoma de Puebla</h3>
        <h3 class="journal">Resumen</h3>
        
        <p class="parrafo">
            La electrónica ha tenido un gran avance en las últimas décadas (computadoras, celulares, pantallas, etc.), donde la electrónica flexible ha tenido un 
            mayor interés en los últimos años, debido a su gran campo de aplicaciones y su posible uso en sensores, wearables, implantes, dispositivos portables, 
            etc. Para poder desarrollar estas aplicaciones se tiene que superar ciertas limitantes que implica el cambiar el sustrato.
            El vidrio, láminas de metal o plástico, pueden servir como sustratos, donde el plástico presenta mayor interés en el desarrollo de dispositivos debido a su a 
            transparencia y flexibilidad, pero a su vez limita los procesos de fabricación ya que no soportan altas temperaturas, haciendo que los materiales más comunes en
            dispositivos no pueda utilizarse, por lo tanto se busca la integración de nuevos materiales junto con diferentes procesos de fabricación el cual permitan el uso 
            de estos sustratos.
            Existen diversos materiales como los óxidos semiconductores, los cuales permiten su uso en dispositivos semiconductores presentando buenas características 
            eléctricas y de transparencia, además, la mayoría de los óxidos semiconductores se pueden depositar por solución, lo que permite el uso de técnicas como 
            ultrasonic spray pyrolysis, y spin coating, las cuales son de fácil manejo, bajo costo y la utilización de diferentes temperaturas llegando hasta los 200 °C.
            Investigaciones que se han desarrollado demuestran que el uso de óxido de zinc (ZnO) como película semiconductora y de SiO2 por SOG (spin on glass), ambas películas 
            depositadas a bajas temperaturas, presentan buenas características eléctricas como estructurales.
            Esto nos lleva a plantear que se pueden fabricar dispositivos y utilizar sustratos como plástico, 
            con el uso técnicas de depósito por solución a bajas temperaturas (200 °C). Además, del uso ZnO 
            como capa semiconductora, películas de SOG-SiO2 como dieléctrico y ITO como electrodo en los TFTs. 
            En este trabajo se describe el proceso de fabricación de los TFTs de ZnO. Así como la caracterización 
            del dispositivo para determinar los parámetros de interés y las principales figuras de mérito.    
        </p>
    
    </section>
    



{% endblock %}