{% extends "layout.html" %}

{% block content %}

<section class="titulo1">
<div>
    <h2>Papers Publish </h2>
</div>
</section>
<section>
    <div class="article">
        <h3 class="titleart">Study of stability of solution-processed dielectric film under electrical stress</h3>
        <h3 class="journal">Jorunal: Journal of Alloys and Compounds</h3>
        <p class="parrafo">
            In this work, a methodology to analyze the stability of solution-processed transparent dielectric 
            based on Spin-on Glass under electrical stress is presented. Electrical stress is applied to MOS 
            capacitors at different voltage values. The capacitance – voltage curves are analyzed as a function 
            of stress time and voltage applied. After a rest period of 24 and 48 h, the capacitance – voltage 
            curves were measured to compare performance. The results are applicable to Thin-film Transistors 
            in order to study their stability and avoid confusion with the defect creation in channel layer 
            mechanism.
        </p>
        <a class="linkdoi" href="https://www.sciencedirect.com/science/article/abs/pii/S0925838816321600?via%3Dihub">DOI: 10.1016/j.jallcom.2016.07.126</a>
    </div>
    <div class="article">
        <h3 class="titleart">Characterization of high mobility inverted coplanar Zinc Nitride Thin-film Transistors</h3>
        <h3 class="journal">Jorunal: Revista Mexicana de Física</h3>
        <p class="parrafo">
            In this work, high mobility TFTs based on zinc nitride (Zn3N2) sputtered at room temperature using spin-on 
            glass (SOG) as gate dielectric are presented. The inverted coplanar structure is used for the Zn3N2 TFTs. 
            The devices exhibit an on/off-current ratio of 106 and a subthreshold slope of 0.88 V/decade. The extracted 
            field-effect mobility was 15.8 cm2/Vs which is among the highest reported for Zn3N2 TFTs. In addition, 
            n-type MOS capacitors were fabricated and characterized by capacitance – voltage and capacitance – frequency 
            measurements to evaluate the dielectric characteristics of the SOG film.
        </p>
        <a class="linkdoi" href="hhttps://rmf.smf.mx/ojs/index.php/rmf/article/view/Vol.%2065%2C%20Issue%201%2C%20pp.%2010-13">DOI: 10.31349/RevMexFis.65.10</a>
    </div>
</section>



{% endblock %}